{% extends 'base.html' %}


{% block content %}
<h1>List of Stocks</h1>

{% for key, value in all_stock_codes.items %}
	<a href="https://www.google.com/search?q={{key}}-stock-price" target="_blank">{{key}} : {{value}}</a>
	<br>
	
	<a href="stocks/{{key}}/buy"><button>Buy</button></a>	
	<hr>
{% endfor %}


<style type="text/css">
	body{
		padding: 50px;
		border: 50px solid #f4f4f4;
		margin: 50px;
		line-height: 3em;
		font-family: Arial, Helvetica;
	}

	h1{
		text-align: center;
	}
</style>

{% endblock %}